@using Prova.Modelos

@inject TokenViewModel TokenViewModel
@inject Prova.Frontend.Helpers.CustomAuthStateProvider CustomAuthStateProvider
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <label>@ObterTexto()</label>
        @if (ExibirBotao)
        {
            <button @onclick="@(async () => await SubmitForm())" class="nav-link btn btn-link">Desconectar</button>
        }
    </Authorized>
    <NotAuthorized>
        <a href="/">Conectar</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool ExibirBotao = false;
    private async Task SubmitForm()
    {
        TokenViewModel = new TokenViewModel();
        await CustomAuthStateProvider.Logoff();

        NavigationManager.NavigateTo("/");
    }

    private string ObterTexto()
    {
        if (string.IsNullOrEmpty(TokenViewModel.Login))
        {
            ExibirBotao = false;
            return "Bem Vindo!";
        }
        else
        {
            ExibirBotao = true;
            return $"Olá, {TokenViewModel.Login}!";
        }
    }
}